<div class="page-container flex-column">
  <div class="page-header flex-row">
    <div class="menu-wrapper">
      <ul class="flex-row">
        <li
          *ngFor="let menu of headerButtonsArray; let i = index"
          [class.active]="i === 0"
          class="flex-row"
        >
          <span
            ><fa-icon [icon]="menu.icon" style="margin-right: 1rem"></fa-icon
          ></span>
          <span style="letter-spacing: 1px">{{ menu.name }}</span>
        </li>
      </ul>
    </div>
    <div class="form-wrapper">
      <form>
        <input
          (keyup)="getFilterValue($event.target.value)"
          placeholder="Search"
        />
      </form>
    </div>
  </div>
  <div class="page-body">
    <!-- mat Table start -->
    <div class="table-container">
      <div class="table-wrapper">
        <table mat-table [dataSource]="dataSource">
          <ng-container
            [matColumnDef]="col"
            *ngFor="let col of dataColumns; let i = index"
          >
            <th mat-header-cell *matHeaderCellDef>
              {{ dataColumns[i] | titlecase }}
            </th>
            <div>
              <td mat-cell *matCellDef="let element">
                <div
                  *ngIf="col != 'date'"
                  [ngStyle]="{
                    color:
                      col == 'List Name' && element['No. of Entities'] == 0
                        ? '#00b4ffa6'
                        : ''
                  }"
                >
                  {{ element[col] }}
                </div>
                <div *ngIf="col == 'date'">
                  <span *ngIf="!element[col]">
                    <fa-icon [icon]="timeIcon" class="table-icon"></fa-icon
                  ></span>
                  <span *ngIf="element[col]">{{ element[col] }}</span>
                </div>
              </td>
            </div>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element['No. of Entities'] == 0">
                <fa-icon class="table-icon" [icon]="mailIcon"></fa-icon>
              </div>
              <div
                class="icon-cell flex-row"
                *ngIf="element['No. of Entities'] > 0"
              >
                <fa-icon class="table-icon" [icon]="mailIcon"></fa-icon>
                <fa-icon class="table-icon" [icon]="shareIcon"></fa-icon>
                <fa-icon class="table-icon" [icon]="editIcon"></fa-icon>
                <fa-icon class="table-icon" [icon]="deleteIcon"></fa-icon>
              </div></td
          ></ng-container>

          <ng-container matColumnDef="Details">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                class="table-details-btn"
                (click)="getDetailsHandler($event, element)"
              >
                Details
              </button>
            </td></ng-container
          >

          <tr
            mat-header-row
            *matHeaderRowDef="allColumnsTobeDisplayed; sticky: true"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: allColumnsTobeDisplayed"
          ></tr>
        </table>
      </div>
    </div>
    <!-- mat Table end -->
    <div class="details-container flex-col">
      <div class="details-title">Details</div>
      <div style="padding: 30px 0">
        <div *ngFor="let item of selectedDetailsObject | keyvalue">
          <div class="details-description-wrapper" *ngIf="item.key !== 'id'">
            <span>{{ item.key }}:</span><span>{{ item.value }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
